* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.page {
    width: 600px;
    min-height: 400px;
    position: relative;
    padding: 60px;
    z-index: 1;
}

.lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.line-top,
.line-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
}

.line-left,
.line-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #fff;
}

.line-top {
    top: calc(50% - 200px);
}

.line-bottom {
    bottom: calc(50% - 200px);
}

.line-left {
    left: calc(50% - 300px);
}

.line-right {
    right: calc(50% - 300px);
}

header {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Viaoda Libre', serif;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

main {
    text-align: center;
}

p {
    color: #fcfcfc;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 16px;
}

button {
    background-color: #0a0a0a;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #fff;
    color: #0a0a0a;
}

#message {
    margin-top: 30px;
    color: #666;
    font-size: 14px;
    min-height: 20px;
}